.form_main{
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
    font-size: 24px;
    box-sizing: border-box;
    margin-top: -300px;
    position: relative;
}

form {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 35px;
    background-color: #cc9de6;
    border: 5px solid #ae61d8;
    box-shadow: 0 0 10px rgba(174, 97, 216, 0.5);
}
.form_text {
    font-size: 24px;
    margin-bottom: 55px;
    color: #ae61d8;
    text-decoration: none;
}
.form_text a {
    font-size: 50px;
    text-decoration: none;
    color:#ae61d8;
}
.form_text a:hover {
    color: #ffffff;
}
form label{
    margin-right: 15px;
    display: inline-block;
}
form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #e3bbf8;
    border: none;
    cursor: pointer;
}
form input:focus {
    outline: none;
    border: 2px solid #ae61d8;
    box-shadow: 0 0 5px rgba(174, 97, 216, 0.5);
}

form input[type="radio"], 
form input[type="checkbox"]{
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}

select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background-color: #e3bbf8;
    cursor: pointer;
}

.formularrrz a{
    font-size: 50px;
    text-decoration: none;
    color:#ae61d8;
}
