.przelacznik{
    position: absolute;
    top: 10px;
    right: 20px;
}
.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ac55cd;
    transition: 0.4s;
    border-radius: 25px;
}      
.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
#szukaj
{
    color: #ac55cd;
    margin-top: 100px;
    height: 40px;
    width: 200px;
    border-radius: 50px;
    background-color: #FBE4F9;
    font-size: 15px;
}

input:checked + .slider {
    background-color: #333;
}

input:checked + .slider:before {
    transform: translateX(25px);
}

/*///////////////////////////////////////////*/
.gallery {
    margin-top: -50px;
    margin-bottom: 20px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-bottom: 20px;
    overflow: hidden;
}

.gallery-grid img {
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-grid img:hover {
    transform: scale(1.1);
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#lightbox.hidden {
    display: none;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
/*//////////////*/
.Ukryte {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}

.Ukryte.animacja {
    opacity: 1;
    transform: translateY(0);
}

.Ukryte .flex{
    display: flex;
    justify-content: space-between;
}

footer button {
    position: absolute;
    bottom: 20px; 
    left: 20px; 
    background: none; 
    border: none; 
    cursor: pointer;
}


/*///////////////////////////////////////////*/
.like {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 32px;
    color: #ccc;
    margin-right: 10px;
    transition: color 0.3s ease;
    position: absolute;
    right: 20px;
    top: 20%;
}
.like:hover {
    transform: scale(1.1); 
}

.like .serduszko {
    pointer-events: none;
}

.like.active {
    color: #ac55cd; 
}
.mapa{
    margin-left:150px;
}
iframe{
    border: #ac55cd 5px solid;
    border-radius: 50px;
}

.mapa{
    float:right;
    margin-left: 20px;
}

/*///////////////////////////////////////////*/
.rozwijane_menu {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #ac55cd;
    border-radius: 50%;
    transition: transform 0.3s;
}
.menu:hover {
    transform: scale(0.8);
}

.rozwin-guzik {
    display: none; 
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.rozwin-guzik.ukryj{
    animation: pojscie 0.5s ease-out;
}
.rozwin-guzik.pokaz{
    display: flex;
    overflow: visible;
    animation: przyjscie 0.5s ease-out;
}
@keyframes przyjscie {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes pojscie {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
.guzik {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #ac55cd;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}
.guzik:hover {
    transform: scale(0.8);
}

.menu_obrazek {
    width: 50px;
    height: 50px;
}