       * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Ink Free';
            overflow-x: hidden;
        }
        
        body {
            background-color: #ffffff;
            color: #3E312b;
            font-size: 20px;
        }
        

        header {
            background-color: #ffffff;
            background-image: url('../Dodatki/polewa_dia4.png');
            min-height: 700px;
            background-size: 100% 80%;
            background-position: center top;
            background-repeat: no-repeat;
            padding: 20px 0;
            text-align: center;
            animation: stretch 6s ease-out forwards;
        }        
        .header-text {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        

        nav ul {
            display: flex;
            justify-content: center;
            list-style: none;
            gap: 30px;
        }     
        nav ul li {
            margin: 0 15px;
        }        
        nav ul li a {
            text-decoration: none;
            color: #ae61d8;
            font-weight: bold;
            font-size: 1.5rem;
            transition: color 0.3s;
        }      
        
        nav ul li a:hover {
            color: #ffffff;
        }
        

        h1 {
            font-size: 2.5rem;
            color: #ae61d8;
            transition: color 0.3s;
            text-decoration: none;
            margin-top : 40px;
            margin-bottom:20px;
            text-align: center;
            width: 100%;
        }
        h1 a {
            text-decoration: none;
            color: #ae61d8;
            font-weight: bold;
        }

        footer {
            text-align: center;
            padding: 20px;
            background-color: #ffcce6;
            color: #ae61d8;
            margin-top: 50px;
        }
       
              
        main {
            max-width: 1200px;
            margin: 30px auto;
            padding: 0 20px;
            margin-top: -250px;
        }     
  

        section {
            margin-bottom: 100px;
            padding: 20px;
            background-color: rgb(251, 228, 249);
            border-radius: 50px;
            box-shadow: 0 2px 15px rgba(0,0,0,0.05);
        }
        
        
        h2 {
            color: #ac55cd;
            margin-bottom: 15px;
            text-decoration: none;
        }       
        p {
            line-height: 2;;
        }
        p a {
            color: #cc9de6;
            text-decoration: none;
        }
        p a:hover {
            color: #ffffff;
        }

        .Ukryte {
            opacity: 0;
            transform: translateY(50px);
            transition: all 0.8s ease-out;
        }
        
        .Ukryte.animacja {
            opacity: 1;
            transform: translateY(0);
        }
           
        .form_main{
            margin: 0 auto;
            padding: 20px;
            max-width: 1000px;
            font-size: 24px;
            box-sizing: border-box;
        }
        form {
            width: 100%;
            padding: 12px;
            margin-bottom: 15px;
            border: 5px solid #ae61d8;
            border-radius: 35px;
            background-color: #cc9de6;
        }
        .form_text {
            font-size: 24px;
            margin-bottom: 55px;
            color: #ae61d8;
            text-decoration: none;
        }
        .form_text a {
            font-size: 50px;
            text-decoration: none;
            color:#ae61d8;
        }
        .form_text a:hover {
            color: #ffffff;
        }
        form label{
            margin-right: 15px;
            display: inline-block;
        }
        form input {
            width: 100%;
            padding: 12px;
            margin-bottom: 15px;
            border: 2px solid #cc9de6;
            border-radius: 8px;
            background-color: #e3bbf8;
        }
        form input[type="radio"]    {
            width: auto;
            margin-right: 10px;
            vertical-align: middle;
            cursor: pointer;
        }
        form input[type="checkbox"] {
            width: auto;
            margin-right: 10px;
            vertical-align: middle;
            cursor: pointer;
        }
        select {
            width: 100%;
            padding: 12px;
            margin-bottom: 15px;
            border: 2px solid #cc9de6;
            border-radius: 8px;
            background-color: #e3bbf8;
            
        }
        select:focus{
            border-color: #3fc4e2;
        }

        @media (max-width: 768px) {
            h1 {
                font-size: 2rem;
            }
            
            nav ul li {
                margin: 0 10px;
            }
        }

        @keyframes stretch {
            0% {
                background-size: 100% 80%;
            }
            100% {
                background-size: 100% 100%;
        }
        }

        