       * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Ink Free';
            overflow-x: hidden;
            font-weight: bold;
         
        }
        
        body {
            font-size: 20px;
        }
        
        header {
            background-image: url('../Dodatki/polewa_dia4.png');
            height: 700px;
            background-size: 100% 80%;
            background-position: center top;
            background-repeat: no-repeat;
            padding: 20px;
            text-align: center;
            animation: stretch 6s ease-out forwards;
            position: relative;
            margin-bottom: 100px;
            
        }        
        .header-text {
            width: 1200px;
            margin: 0 auto;
            align-items: center;
        }
        
        nav ul {
            display: flex;
            justify-content: center;
            list-style: none;
            gap: 70px;
        }         
        nav ul li a {
            text-decoration: none;
            color: #af5de5;
            font-size: 1.5rem;
            transition: color 0.3s;
        }            

          header a:hover {
            color: #ffffff;
             transition: color 0.3s;
        }

        h1 {
            font-size: 2.5rem;
            color: #ae61d8;
            margin-top : 40px;
            margin-bottom:20px;
            text-align: center;
            width: 100%;
        }
      
        main {
            max-width: 1200px;
            margin: 0px auto;
            padding: 0 20px;
            margin-top: -250px;
        }     
  
        section {
            margin-bottom: 100px;
            padding: 20px;
            background-color: rgb(251, 228, 249);
            border-radius: 50px; /* zaokrąglenie */
            box-shadow: 0 5px 15px rgba(0,0,0,0.05); 
        }
        
        h2 {
            color: #af5de5;
            margin-bottom: 15px;
            font-size: 40px;
        }       
        p {
            line-height: 2;
            color: #e874e7;
        }
        p a {
            color: #af5de5;
            text-decoration: none;
        }
        p a:hover {
            color: #ffffff;
        }
        ul li {
            color: #af5de5;
        }
        h3 a {
            color: #af5de5;
            text-decoration: none;
            font-size: 35px;
        }
        h3 a:hover {
            color: #ffffff;
        }

        footer {
            position: relative;
            text-align: center;
            padding: 20px;
            background-color: rgb(251, 228, 249);
            color: #ae61d8;
            margin-top: 50px;
        }

        .prawo {
            text-align: left;
            float:left;
        }

        #szukaj{
          color: #ac55cd;
          margin-top: 100px;
          height: 40px;
          width: 200px;
          border-radius: 50px;
          background-color: #FBE4F9;
          padding: 20px; 
          font-size: 15px;
          border: 1px solid #946c59;  
        }

        #szukaj:focus {
        outline: none;
        border: 1px solid #af5de5;  
        }
        
        .oferta li{
            text-decoration: none;
            color: #af5de5;
            text-align: left;
            border-bottom: 1px solid #946c59;
            margin-bottom: 10px;
            font-size: 30px;
            position: relative;
        }
        .opis{
            margin-top: 3px;
            color:#e874e7;
            font-size:20px;
            margin-left:20px;
        }

        @keyframes stretch {
            0% {
                background-size: 100% 80%;
            }
            100% {
                background-size: 100% 100%;
        }
        }

        @media (max-width: 768px) {   /*obsługa na telefon*/
    header {
        height: auto;
        width: auto;
        margin-bottom: 250px;
        padding: 10px;
    }
    .header-text {
        width: 100%;
        padding: 0 5px;
    }
    nav ul {
        flex-direction: column;
        gap: 3px;
        padding: 0;
    }
    nav ul li a {
        font-size: 1.1rem;
        padding: 3px 0;
    }
    .logo img {
        width: 200px;
        height: 200px;
    }
    h1 {
        font-size: 1.7rem;
    }
    section {
        margin-bottom: 40px;
    }
}

        